body {
    background: rgba(0, 0, 0, 0.92);
    overflow-x: hidden;
}


.container_logo {
    position: relative;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 230px;
    padding: 20px;

    background: rgba(0, 0, 0, 0.61);


}


.rounded-gradient-border {
    position: relative;
    border-radius: 0px 130px 130px 0px;
    box-shadow: 0 0 0 1px;
    outline: 1px solid #5e5e5e;
}


.header {
    position: absolute;
    width: 1920px;
    height: 225px;
    left: 0px;
    top: 0px;
    background: #000000;
}


.my-image {
    position: relative;
    margin-left: auto;
    right: -60%;
    height: 80%;
    top: 10%;


    background-color: #fcfafa;
    background-blend-mode: multiply;
}


.rectangle_one {
    position: absolute;

    width: 25%;
    height: 100%;
    background: rgb(11, 11, 11);
    box-shadow: 0px 4px 12px rgb(248, 245, 245);
    border-radius: 0px 1000px 1000px 0px;
}


.carta_tovara {
    position: absolute;
    margin-top: 10%;
    margin-left: 2cm;
    margin-right: 2cm;


    border-radius: 14px;

}

.custom-container {
    position: absolute;
    margin-top: 88%;
    margin-left: 2cm;
    margin-right: 2cm;


    border-radius: 14px;
}


.carta_tovara_item .card-title {
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.card-title.my-title a.short-name {
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    text-decoration: none;
}


.carta_tovara_item .card-text {
    font-size: 18px;
    line-height: 22px;
    margin-top: -55%;
    color: #ADADAD;
    font-family: "Arial", sans-serif;
    font-style: italic;
}


.carta_tovara_item {
    border-radius: 14px 14px 14px 14px;
    margin-bottom: 3rem;
    border: 2px solid gray;
    width: 305px;
    height: 450px;

    /*background: rgba(255, 255, 255, 1)*/
}

.carta_tovara_item .card-img-top {
    border-radius: 14px 14px 0px 0px;
    width: 302px;
    height: 215px;
}


.price_and_add {
    margin-top: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #E1643C;
}

.btnnn {
    border-radius: 8px;

    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    background-color: #E1643C;
    color: #FFFFFF;
    border: 3px solid orangered; /* Золотая обводка */

}


.nuz {
    width: 100%;
    height: 60%;
    position: absolute;
    top: 400%;
    background-color: #000000;
}

.carta_sity {
    position: absolute;
    top: 10%;
    left: 30%;
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    line-height: 30px;
    color: #373737;
}

.polosha_orange_nuz {
    position: absolute;
    top: 23%;
    left: 30%;
    width: 88px;
    height: 3px;
    background: #E1643C;
}

.doctavka_nuz {
    position: absolute;
    top: 32%;
    left: 30%;
    width: 191px;
    height: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.pro_nac {
    position: absolute;
    top: 42%;
    left: 30%;
    width: 191px;
    height: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.rolu_nuz {
    position: absolute;
    top: 52%;
    left: 30%;
    width: 191px;
    height: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.pizza_nuz {
    position: absolute;
    top: 62%;
    left: 30%;
    width: 191px;
    height: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.salate_nuz {
    position: absolute;
    top: 72%;
    left: 30%;
    width: 191px;
    height: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.ocnovni_nuz {
    position: absolute;
    top: 42%;
    left: 50%;
    width: 191px;
    height: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.garniru_nuz {
    position: absolute;
    top: 32%;
    left: 50%;
    width: 191px;
    height: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.supu_nuz {
    position: absolute;
    top: 52%;
    left: 50%;
    width: 191px;
    height: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.zakusku_nuz {
    position: absolute;
    top: 62%;
    left: 50%;
    width: 191px;
    height: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.gariche_nuz {
    position: absolute;
    top: 72%;
    left: 50%;
    width: 191px;
    height: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.hold_nuz {
    position: absolute;
    top: 82%;
    left: 50%;
    width: 191px;
    height: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.puvo_nuz {
    position: absolute;
    top: 82%;
    left: 30%;
    width: 191px;
    height: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.contact_nuz {
    position: absolute;
    top: 10%;
    left: 70%;
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    line-height: 30px;
    color: #373737;
}

.polosha_orange_nuz2 {
    position: absolute;
    top: 23%;
    left: 70%;
    width: 88px;
    height: 3px;
    background: #E1643C;
}

.number_nuz {
    width: 413px;
    height: 15px;
    position: absolute;
    top: 30%;
    left: 70%;

    color: #FFFFFF;
    white-space: nowrap;
}

.number_nuz2 {
    width: 413px;
    height: 15px;
    position: absolute;
    top: 40%;
    left: 70%;

    color: #FFFFFF;
    white-space: nowrap;
}

.email_nuz {
    width: 413px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 70%;

    color: #FFFFFF;
    white-space: nowrap;
}

.adress_nuz {
    width: 413px;
    height: 15px;
    position: absolute;
    top: 60%;
    left: 70%;

    color: #FFFFFF;
    white-space: nowrap;
}

.instagram {
    position: absolute;
    top: 72%;
    left: 6%;
}

.telegram {
    position: absolute;
    top: 72%;
    left: 10%;
}

.viber {
    position: absolute;
    top: 72%;
    left: 14%;
}

.facebook {
    position: absolute;
    top: 72%;
    left: 18%;
}

.prava_nuz {
    position: absolute;
    top: 82%;
    left: 6%;
}