body {
    background: rgba(0, 0, 0, 0.92);
    overflow-x: hidden;
}


.my-container {
    position: absolute;
    width: 1920px;
    height: 225px;
    left: 0px;
    top: 0px;
    background: #000000;
}


.my-image {
    position: relative;
    margin-left: auto;
    right: -60%;
    height: 80%;
    top: 10%;


    background-color: #fcfafa;
    background-blend-mode: multiply;
}


.rectangle_one {
    position: absolute;

    width: 25%;
    height: 100%;
    background: rgb(11, 11, 11);
    box-shadow: 0px 4px 12px rgb(248, 245, 245);
    border-radius: 0px 1000px 1000px 0px;
}


.navbar ul {
    position: absolute;
    top: 25%;
    left: 150%;
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;


}

.navbar li {
    display: inline-block;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;


}

.language-switch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 21px;
    gap: 10px;
    border-bottom: 0.5px solid #E1643C;
    border-top: 2px solid #E1643C;

    color: #FFFFFF;
    position: absolute;
    top: 18%;
    left: 265%;
    width: 55px;
    height: 25px;

    background: rgb(2, 2, 2);
    box-shadow: 0px 4px 4px rgba(187, 187, 187, 0.08);
    border-radius: 1000px;
}

.image-button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 18%;
    left: 290%;
    border: 1px solid #E1643C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-button img {
    max-width: 100%;
    max-height: 100%;
}

.search-panel {
    position: absolute;
    width: 408px;
    height: 46px;
    left: 917px;
    top: 134px;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 23px;
}

.search-panel input[type="text"] {
    width: 80%;
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 23px;
    outline: none;
    background: transparent;
    color: #ffffff;
}

.search-panel button[type="submit"] {
    width: 20%;
    height: 100%;
    border: none;
    border-radius: 23px;
    background: #ffffff;
    color: #000000;
    cursor: pointer;
}


.black {
    box-sizing: border-box;

    position: absolute;
    width: 20%;
    height: 20%;
    left: 1%;
    top: 1.92%;
    bottom: 96.15%;

    background: rgba(0, 0, 0, 0.61);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 1000px 0px 0px 1000px;
    transform: rotate(180deg);
}

.photo1 {
    height: 65%;
    width: 90%;
    position: absolute;
    top: 35%;
    left: 5%;
}

.polosha {
    position: absolute;
    width: 70%;
    height: 10%;
    left: 15%;
    top: 101%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8.5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 1000px;
}

.sushi {
    width: 2%;
    position: absolute;
    left: 4.5%;
    top: 15%;
}

.sushi1 {
    position: absolute;
    color: #ffff;
    top: 65%;
    left: 4%;
}

.pizza {
    width: 2%;
    position: absolute;
    left: 13.5%;
    top: 20%;

}

.pizza1 {
    position: absolute;
    color: #ffff;
    top: 65%;
    left: 13%;
}

.salate {
    width: 2%;
    position: absolute;
    top: 20%;
    left: 23.5%;
}

.salate1 {
    position: absolute;
    color: #ffff;
    top: 65%;
    left: 22%;
}

.hot {
    width: 2%;
    position: absolute;
    top: 20%;
    left: 33.5%;
}

.hot1 {
    position: absolute;
    color: #ffff;
    top: 65%;
    left: 32%;
}

.basis {
    width: 2%;
    position: absolute;
    top: 20%;
    left: 43.5%;
}

.basis1 {
    position: absolute;
    color: #ffff;
    top: 65%;
    left: 42%;
}

.soup {
    width: 2%;
    position: absolute;
    top: 20%;
    left: 53.5%;

}

.soup1 {
    position: absolute;
    color: #ffff;
    top: 65%;
    left: 52.5%;
}

.snacks {
    width: 2%;
    position: absolute;
    top: 20%;
    left: 63%;
}

.snacks1 {
    position: absolute;
    color: #ffff;
    top: 65%;
    left: 62%;
}

.garnish {
    width: 2%;
    position: absolute;
    top: 20%;
    left: 73.5%;
}

.garnish1 {
    position: absolute;
    color: #ffff;
    top: 65%;
    left: 72%;
}

.nopoi {
    width: 2%;
    position: absolute;
    top: 15%;
    left: 83.5%;
}

.nopoi1 {
    position: absolute;
    color: #ffff;
    top: 65%;
    left: 82.5%;
}

.puvo {
    width: 2%;
    position: absolute;
    top: 20%;
    left: 92.5%;
}

.puvo1 {
    position: absolute;
    color: #ffff;
    top: 65%;
    left: 92%;
}

.icon {
    width: 200px;
    /* Задайте нужную ширину и высоту для вашего логотипа */
    height: 200px;
    border-radius: 50%;
    /* Создает круглую форму */
    background: linear-gradient(to right, #000 0%, #000 0%, transparent 30%, transparent 100%);
    /* Градиентный фон */
    border: 0.1px solid #000;
    /* Толщина и цвет обводки */
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
}

.my-image1 {
    position: absolute;
    top: 36%;
    width: 90%;

    left: 5%;

}

.carusel {
    position: absolute;
    top: 20%;
    left: -85%;
}

.carousel-indicators.carusel button {
    width: 20px;
    height: 20px;

}


.new-popular {
    position: absolute;
    left: 5%;
    top: 120%;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 83px;
    color: #FFFFFF;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
}

.carta {
    position: absolute;
    left: 5%;
    top: 135%;
    width: 20%;
}

.dodaty {


    position: absolute;
    width: 117px;
    height: 40px;
    left: 60%;
    top: 85%;

    background: #E1643C;
    border-radius: 6px;
}

body {
    background: #242424;
}

header {
    background: rgb(0, 0, 0);
    height: 143px;

@media screen and (min-width: 768px) {
    height:

225px

;
}

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container_logo {
    position: relative;
    top: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 130px;
    height: 130px;
    padding: 10px;
    margin-left: -20px;

    background: rgba(0, 0, 0, 0.61);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 0px 130px 130px 0px;

@media screen and (min-width: 768px) {
    top:

0%;
    width:

552px

;
    height:

200px

;
    padding:

10px

;
    /* margin-left: -200px; */
}

}

.rounded-logo {
    width: 100px;
    height: 100px;

@media screen and (min-width: 768px) {
    width:

200px

;
    height:

200px

;
}

&
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

}
;

.rounded-gradient-border {
    position: relative;
    border-radius: 50%;
}

.rounded-gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0px 130px 130px 0px;
    padding: 1px;
    background: linear-gradient(to left, #494949 0%, transparent 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.rolu {
    position: absolute;
    left: 5%;
    top: 200%;

    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 83px;
    color: #FFFFFF;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
}




.carta_tovara {
    position: absolute;
    margin-top: 88%;
    margin-left: 2cm;
    margin-right: 2cm;



    border-radius: 14px;
}


.carta_tovara_item .card-title {
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.carta_tovara_item .card-text {
    font-size: 18px;
    line-height: 22px;
    margin-top: -55%;
    color: #ADADAD;
    font-family: "Arial", sans-serif;
    font-style: italic;
}


.carta_tovara_item {
    border-radius: 14px 14px 14px 14px;
    margin-bottom: 3rem;
    border: 2px solid gray;
    width: 305px;
    height: 450px;

    /*background: rgba(255, 255, 255, 1)*/
}

.carta_tovara_item .card-img-top {
    border-radius: 14px 14px 0px 0px;
    width: 302px;
    height: 215px;
}


.price_and_add {
    margin-top: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #E1643C;
}

.btnnn {
    border-radius: 8px;

    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    background-color: #E1643C;
    color: #FFFFFF;
    border: 3px solid orangered; /* Золотая обводка */

}


.carta_tovara_nove {
    position: absolute;
    margin-top: 48%;
    margin-left: 2cm;
    margin-right: 2cm;


    background: rgba(255, 255, 255, 0.03);
    border-radius: 14px;
}

.pizza_catagory{
    position: absolute;
    left: 5%;
    top: 350%;

    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 83px;
    color: #FFFFFF;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
}
.carta_tovara_pizza{
    position: absolute;
    margin-top: 165%;
    margin-left: 2cm;
    margin-right: 2cm;


    /*background: rgba(255, 255, 255, 0.03);*/
    border-radius: 14px;

}
.salate_catagory{
       position: absolute;
    left: 5%;
    top: 450%;

    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 83px;
    color: #FFFFFF;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
}
.carta_tovara_salate{
      position: absolute;
    margin-top: 215%;
    margin-left: 2cm;
    margin-right: 2cm;


    /*background: rgba(255, 255, 255, 0.03);*/
    border-radius: 14px;
}
.ocnove_catagory{
    position: absolute;
    left: 5%;
    top: 550%;

    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 83px;
    color: #FFFFFF;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
}
.carta_tovara_ocnove{
      position: absolute;
    margin-top: 265%;
    margin-left: 2cm;
    margin-right: 2cm;


    /*background: rgba(255, 255, 255, 0.03);*/
    border-radius: 14px;
}
.supu_catagory{
    position: absolute;
    left: 5%;
    top: 650%;

    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 83px;
    color: #FFFFFF;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
}
.carta_tovara_supu{
     position: absolute;
    margin-top: 315%;
    margin-left: 2cm;
    margin-right: 2cm;


    /*background: rgba(255, 255, 255, 0.03);*/
    border-radius: 14px;
}
.zakysku_catagory{
    position: absolute;
    left: 5%;
    top: 750%;

    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 83px;
    color: #FFFFFF;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
}
.carta_tovara_zakysku{
     position: absolute;
    margin-top: 365%;
    margin-left: 2cm;
    margin-right: 2cm;


    /*background: rgba(255, 255, 255, 0.03);*/
    border-radius: 14px;
}
.garniru_catagory{
     position: absolute;
    left: 5%;
    top: 850%;

    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 83px;
    color: #FFFFFF;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
}
.carta_tovara_garniru{
     position: absolute;
    margin-top: 415%;
    margin-left: 2cm;
    margin-right: 2cm;


    /*background: rgba(255, 255, 255, 0.03);*/
    border-radius: 14px;
}
.hotter_catagory{
        position: absolute;
    left: 5%;
    top: 950%;

    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 83px;
    color: #FFFFFF;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
}
.carta_tovara_hotter{
       position: absolute;
    margin-top: 465%;
    margin-left: 2cm;
    margin-right: 2cm;


    /*background: rgba(255, 255, 255, 0.03);*/
    border-radius: 14px;
}
.xolod_catagory{
            position: absolute;
    left: 5%;
    top: 1050%;

    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 83px;
    color: #FFFFFF;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
}
.carta_tovara_xolod{
         position: absolute;
    margin-top: 515%;
    margin-left: 2cm;
    margin-right: 2cm;


    /*background: rgba(255, 255, 255, 0.03);*/
    border-radius: 14px;
}
.puvo_catagory{
    position: absolute;
    left: 5%;
    top: 1150%;

    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 83px;
    color: #FFFFFF;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
}
.carta_tovara_puvo{
    position: absolute;
    margin-top: 565%;
    margin-left: 2cm;
    margin-right: 2cm;


    /*background: rgba(255, 255, 255, 0.03);*/
    border-radius: 14px;
}